<div class="home_container">
  <div class="home_background" style="background-image:url(assets/images/contact.jpg)"></div>
  <div class="home_content_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home_content">
            <div class="breadcrumbs">
              <ul>
                <li>
                  <a routerLink="home">Home</a>
                </li>
                <li>Contact</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>