<div class="container" style="margin-top: 50px">
  <h2 class="h2">Categories</h2>
  <div class="form-check">
    <label>
      <input type="checkbox" name="check" checked />
      <span class="label-text">Smart Phones</span>
    </label>
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" name="check" />
      <span class="label-text">Personal Computers</span>
    </label>
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" name="check" />
      <span class="label-text">Tablets</span>
    </label>
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" name="check" />
      <span class="label-text">Smart Watches</span>
    </label>
  </div>
</div>