<div class="products">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="products_title">Related Products</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        
        <div class="product_grid" style="position: relative; height: 390px;">

          <!-- Product -->
          <div class="product" style="position: absolute; left: 0px; top: 0px;">
            <div class="product_image"><img src="assets/images/iphone_xs.png" alt=""></div>
            <div class="product_extra product_new"><a href="categories.html">New</a></div>
            <div class="product_content">
              <div class="product_title"><a href="product.html">iphone XS</a></div>
              <div class="product_price">$970</div>
            </div>
          </div>

          <!-- Product -->
          <div class="product" style="position: absolute; left: 240px; top: 0px;">
            <div class="product_image"><img src="assets/images/samsung-galaxy-s9-case.jpg" alt=""></div>
            <div class="product_extra product_sale"><a href="categories.html">Sale</a></div>
            <div class="product_content">
              <div class="product_title"><a href="product.html">Samsung Galaxy S9 case</a></div>
              <div class="product_price">$60</div>
            </div>
          </div>

          <!-- Product -->
          <div class="product" style="position: absolute; left: 480px; top: 0px;">
            <div class="product_image"><img src="assets/images/product_3.jpg" alt=""></div>
            <div class="product_content">
              <div class="product_title"><a href="product.html">USB cable</a></div>
              <div class="product_price">$50</div>
            </div>
          </div>

          <!-- Product -->
          <div class="product" style="position: absolute; left: 720px; top: 0px;">
            <div class="product_image"><img src="assets/images/samsung-galaxy-s9-wireless-charger.jpg" alt=""></div>
            <div class="product_content">
              <div class="product_title"><a href="product.html">Samsung Galaxy S9 Wireless Charger</a></div>
              <div class="product_price">$330</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
