<div class="products">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="product_grid flex-container wrap" style="height: 884.6px; position: relative; display:flex; padding-bottom: 2000px">
          <!-- Product -->
          <div *ngFor="let product of products" class="product" >
            <div class="product_image"><img alt="" src="assets/images/{{product.id}}.jpg"></div>
            <div class="product_extra product_new"><a routerLink="product-sheet">New</a></div>
            <div class="product_content">
              <div class="product_title"><a routerLink="product-sheet">{{product.name}}</a></div>
              <div class="product_price">${{product.prix}}</div>
            </div>
          </div>
          <!-- Product -->
        </div>
      </div>
    </div>
  </div>
</div>
